.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    // font-weight: 700;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.btn-primary {
    color: var(--white) !important;
    background-color: var(--primary);
    border-color: var(--btn-primary);

    &:hover {
        border-color: var(--btn-primary);
        background: var(--btn-primary-hover);
    }
}

.btn-secondary {
    color: var(--text-secondary);
    background-color: var(--secondary);
    border-color: var(--btn-secondary);

    &:hover {
        border-color: var(--btn-secondary);
        background: var(--btn-secondary-hover);
    }
}

.btn-danger {
    color: white;
    background-color: var(--danger);
    border-color: var(--danger);

    &:hover {
        color: var(--danger);
        border-color: var(--danger);
        background: transparent;
    }
}

.btn-icon {
    min-width: 50px;
}

.outline {
    color: rgba(22, 24, 35, 0.5);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        // background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    background-color: transparent;
    color: var(--primary);
    padding: 0;

    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 10px;
    min-width: 100%;
}
