.wrapper {
    display: flex;
}

.container {
    width: 100%;

    &.collapsed {
        margin-left: var(--default-sidebar-collapsed-width);
    }

    &.expanded {
        margin-left: var(--default-sidebar-width);
    }
}

.content-wrapper {
    // height: calc(100vh - var(--default-header-height));
    padding: var(--default-content-spacer);
    margin-top: var(--default-header-height);

    .content {
        padding: 20px;
        // min-height: fit-content;
        min-height: 100%;
    }
}
