.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;
    width: 100%;

    &.light {
        color: var(--secondary);
    }

    &.active {
        background: var(--secondary);
    }

    &:hover {
        background: var(--secondary);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;

    .online {
        margin-left: 5px;
        // color: #85ea2d;
        font-size: 1.4rem;
    }
}

.username {
    font-size: 1.4rem;
}

.message {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.5rem;
}
