.modal-user {
    width: 800px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-action {
    + .btn-action {
        margin-left: 10px;
    }
}

.avatar-wrapper {
    position: relative;
}

.avatar-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    & span {
        color: white;
        font-size: 1.8rem;
    }
}

.avatar-user {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.overlay {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &:hover:not(.disabled) {
        opacity: 1;
    }
}

.file-upload {
    display: none;
}
